<ion-header>
  <ion-toolbar>
    <ion-title>crear_proceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <label>No. Expediente u Orden de servicio</label>
    <textarea></textarea>
    <label>Nombre del cliente</label>
  <textarea></textarea>
  <label>Organismo de inspección</label>
  <textarea></textarea>
  <label>Elija tipo de proceso </label>
  <button class="ion-activatable">
      A button with a bounded ripple effect
      <ion-ripple-effect></ion-ripple-effect>
    </button>
    <button ion-button >Crear</button>
</ion-content>
