<ion-header>
  <ion-toolbar>
    <ion-title>info_nc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <label>Expediente No. XXXX</label><BR>
  <label >Ubicación</label><BR>
  <textarea name="" id="" cols="30" rows="10"></textarea><BR>
  <label >Descripción</label>
  <ion-list>
          
      <ion-item>
          <ion-select placeholder="Select One">
          <ion-select-option >xxxxxxx</ion-select-option>
          <ion-select-option >xxxxxxxx</ion-select-option>
        </ion-select>
      </ion-item> 

  </ion-list>
  <ion-icon name="camera"></ion-icon> <BR>
  <button ion-button class="" id=""  (click)='guardar()' >GUARDAR</button><BR>
  <button ion-button class="" id=""  (click)='abrirCAM()' >Volver a camara</button><BR>
</ion-content>
