<ion-header>
  <ion-toolbar>
    <ion-title>expediente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card">
        <div class="card2">
          <ion-card>
              <ion-card-header>INFORMACIÓN DEL EXPEIENTE</ion-card-header>
          </ion-card>
        </div>
          <ion-card>         
              <ion-card-header>ESTADO DEL EXPEDIENTE</ion-card-header>
          </ion-card>
          <ion-card>
              <ion-card-header>TOMAR FOTOS</ion-card-header>
          </ion-card>
          <ion-card>         
              <ion-card-header >INFORME NO CONFORMIDADES</ion-card-header>
          </ion-card>
         
        </div>
      

</ion-content>
