<ion-header>
  <ion-toolbar>
    <ion-title>
     APLICACIÓN PARA INFORME RETIE  APIR 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <label >Usuario</label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="email" name="email" class="inputlogin"></ion-input>
    </ion-item>
    <ion-item class="inputlogin">
    <label >Contraseña</label>
    <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
  </ion-item>
    <ion-item>
      <ion-textarea></ion-textarea>
    </ion-item>
  </div>

  <button ion-button block class="botoningreso" (click)="onSubmitLogin()" expand="block">Entrar</button>
 
     
  
  
  
  
  
</ion-content>
