<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-list-header>Selecciones la ODT, ODS o expediente a trabajar.</ion-list-header>
  
    <ion-item>
      
      <ion-select placeholder="Select One">
        <ion-select-option >1234</ion-select-option>
        <ion-select-option >5678</ion-select-option>
        <ion-select-option >5123</ion-select-option>
      </ion-select>
    </ion-item>
      
  </ion-list>
  

</ion-content>
